/* Boiler plate */
* html body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8f9fd;
  font-family: 'Poppins', sans-serif;
}

/* Nav  */
.navbar .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9e0ae;
  padding-bottom: 0.2rem;
}
.navbar {
  padding: 0;
  
}
.navbar-brand {
  margin-right: 0;
  padding-top: 1rem;
}
#navbar-tag{
    color: #FF0063;
}

/* Players */
.players{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

/* Board */
.board {
  top: 20%;
  display: flex;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #b3e8e5;
}

.box_even {
  background-color: #82dbd8;
}

.row1 {
  border-left: 5px solid #2f8f9d;
  border-top: 5px solid #2f8f9d;
  border-bottom: 5px solid #2f8f9d;
}
.row10 {
  border-right: 5px solid #2f8f9d;
  border-top: 5px solid #2f8f9d;
  border-bottom: 5px solid #2f8f9d;
}
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9 {
  border-top: 5px solid #2f8f9d;
  border-bottom: 5px solid #2f8f9d;
}

/* Modals */

/*media queries */
@media (max-width: 380px) {
  .box {
    height: 44px;
    width: 35px;
  }
}
@media (max-width: 540px) and (min-width: 380px) {
  .box {
    height: 45px;
    width: 37.5px;
  }
  /* .ladder1{
    height: 132px;
    width: 112.5px;
  } */
}
@media (max-width: 720px) and (min-width: 540px) {
  .box {
    height: 52px;
    width: 52px;
  }
}

/* .ladder1{
  position: absolute;
  height: 210px;
  width: 80px;
  left: 35%;
} */